@page "/anthem"
@inject IHospitalDataRepository hospitalDataRepository


<h3>Anthem Plans</h3>


<EditForm Model="model">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <MudStack Row Class="justify-space-between mud-width-full">

        <MudAutocomplete TextChanged="@((string s)=>AutocompleteTextChanged(s) )"
                         ValueChanged="@((string s)=>AutocompleteValueChanged(s) )"
                         Value="@model.CompanyName"
                         ValueExpression="@(()=>model.CompanyName)"
                             SearchFunc="Search"
                             Variant="Variant.Text"
                             Label="Company Name"
                             Margin="_margin"
                             Clearable="true"
                             />
        
    </MudStack>
    <MudStack Row Class="justify-space-between mud-width-full">
    @if (_plans == null)
    {
        <MudDivider DividerType="DividerType.Middle" />
    }
    else
    {
            <MudSelect @bind-Value="_currentPlanIndex"
                   Variant="Variant.Outlined"
                   Label="Pick a plan"
                   Margin="_margin"
                   Style="@(_showPlans?"display:block":"display:none")"
                   Clearable="false">
            @foreach (var plan in _plans)
            {
                <MudSelectItem  Value="plan.Index">@plan.Plan</MudSelectItem>
            }
        </MudSelect>
    }
    </MudStack>

</EditForm>


@code {
    AnthemCompanyModel model = new AnthemCompanyModel();

    string _currentPlanIndex;
    Margin _margin;

    private string[] _companies = [];
    private List<AnthemCompanyModel> anthemCompanies = null;

    class PlanSelection
    {
        public string Index { get; set; }
        public string Plan { get; set; }
    }

    private PlanSelection[] _plans = null;
    private bool _showPlans = false;

    private async Task<IEnumerable<string>> Search(string value, CancellationToken token)
    {
        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value) || value.Length < 3)
        {
            _showPlans = false;
            return [];
        }

        _showPlans = true;
        return _companies.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    private void AutocompleteTextChanged(string theUserInput)
    {
        _plans = null;
        if (!string.IsNullOrEmpty(model.CompanyName) && theUserInput == model.CompanyName)
        {
            var company = anthemCompanies.FirstOrDefault(x => x.CompanyName == model.CompanyName);
            if (company != null)
            {
                var initialPlans = company.Plans;
                var l = new List<PlanSelection>() { new() { Index = "0", Plan = "Select a plan" } };
                for(int i = 0; i < initialPlans.Count; i++)
                {
                    l.Add(new PlanSelection() { Index = (i + 1).ToString(), Plan = initialPlans[i] });
                };
                _plans = l.ToArray();
                _currentPlanIndex = "0";
            }
        }
    }

    private void AutocompleteValueChanged(string theUserInput)
    {
        model.CompanyName = theUserInput;
    }

    protected async override Task OnParametersSetAsync()
    {
        
        await base.OnParametersSetAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        _margin = Margin.Normal;
        anthemCompanies = await hospitalDataRepository.GetAnthemCompanies();
        _companies = anthemCompanies.Select(x => x.CompanyName).ToArray();
    }
}

