@page "/anthem"

<h3>Anthem Plans</h3>


<EditForm Model="model">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <MudStack Row Class="justify-space-between mud-width-full">

        <MudAutocomplete TextChanged="@((string s)=>AutocompleteTextChanged(s) )"
                         ValueChanged="@((string s)=>AutocompleteValueChanged(s) )"
                         Value="@model.CompanyName"
                         ValueExpression="@(()=>model.CompanyName)"
                             SearchFunc="Search"
                             Variant="Variant.Text"
                             Label="Company Name"
                             Margin="_margin"
                             Clearable="true"
                             />
        
    </MudStack>
    <MudStack Row Class="justify-space-between mud-width-full">
    @if (_plans == null)
    {
        <MudDivider DividerType="DividerType.Middle" />
    }
    else
    {
        <MudSelect @bind-Value="_value"
                   Variant="Variant.Outlined"
                   Label="Pick a plan"
                   Margin="_margin"
                   Disabled="_disabled"
                   ReadOnly="_readonly"
                   Clearable="_clearable">
            @foreach (var plan in _plans)
            {
                <MudSelectItem Value="plan">@plan</MudSelectItem>
            }
        </MudSelect>
    }
    </MudStack>

</EditForm>


@code {
    AnthemCompanyModel model = new AnthemCompanyModel();

    string _value;
    Margin _margin;
    bool _dense;
    bool _disabled;
    bool _readonly;
    bool _placeholder;
    bool _helperText;
    bool _helperTextOnFocus;
    bool _clearable;

    private string[] _states =
    {
        "Alabama", "Alaska", "Arizona", "Arkansas", "California",
        "Colorado", "Connecticut", "Delaware", "Florida", "Georgia",
        "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas",
        "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts",
        "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana",
        "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico",
        "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma",
        "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota",
        "Tennessee", "Texas", "Utah", "Vermont", "Virginia",
        "Washington", "West Virginia", "Wisconsin", "Wyoming"
    };

    private string[] _plans = null;

    private async Task<IEnumerable<string>> Search(string value, CancellationToken token)
    {
        // In real life use an asynchronous function for fetching data from an api.
        await Task.Delay(5, token);

        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value) || value.Length < 3)
        {
            _readonly = true;
            return [];
        }

        _readonly = false;
        return _states.Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }

    private void AutocompleteTextChanged(string theUserInput)
    {
        if (string.IsNullOrEmpty(model.CompanyName) || theUserInput != model.CompanyName)
            _plans = null;
        else
            _plans = model.CompanyName.ToCharArray().Select(c => c.ToString()).ToArray();
    }

    private void AutocompleteValueChanged(string theUserInput)
    {
        model.CompanyName = theUserInput;
    }

    protected async override Task OnParametersSetAsync()
    {
        
        await base.OnParametersSetAsync();
    }

    protected override Task OnInitializedAsync()
    {
        _margin = Margin.Normal;
        return base.OnInitializedAsync();
    }
}

