@page "/procedure-list"
@using Microsoft.AspNetCore.WebUtilities
@inject IHospitalDataRepository hospitalDataRepository
@inject NavigationManager NavigationManager
@using System.Net.Http.Json

<PageTitle>Procedures</PageTitle>

<h3>Procedures</h3>

@if (procList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudDataGrid Items="@procList"
                 ReadOnly="true" EditMode="@DataGridEditMode.Cell">
        <Columns>
            <HierarchyColumn T="ProcedureDataModel" OpenIcon="@Icons.Custom.Uncategorized.FolderOpen" ClosedIcon="@Icons.Custom.Uncategorized.Folder" />
            <PropertyColumn Property="x => x.Description" Title="Description" />
            <PropertyColumn Property="x => x.Code1" />
            <PropertyColumn Property="x => x.Code2" />
            <PropertyColumn Property="x => x.StandardChargeGross" Title="Charge Gross" />
        </Columns>
        <ChildRowContent>
            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">@context.Item.Description</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudText>Code 1 Type: @context.Item.Code1Type</MudText>
                    <MudText>Code 1: @context.Item.Code1</MudText>
                    <MudText>Code 2 Type: @context.Item.Code1Type</MudText>
                    <MudText>Code 2: @context.Item.Code1</MudText>
                    <MudText>Code 3 Type: @context.Item.Code1Type</MudText>
                    <MudText>Code 3: @context.Item.Code1</MudText>
                    <MudText>Discounted Charge Cash: @context.Item.StandardChargeDiscountedCash</MudText>
                    <MudText>Max Charge: @context.Item.StandardChargeMax</MudText>
                    <MudText>Min Charge: @context.Item.StandardChargeMax</MudText>
                </MudCardContent>
            </MudCard>
        </ChildRowContent>
        <PagerContent>
            <MudDataGridPager T="ProcedureDataModel" />
        </PagerContent>
    </MudDataGrid>
}

@code {
    private ProcedureDataModel[]? procList;
    private ProcedureDataModel selectedProcedure = null;

    protected override async Task OnInitializedAsync()
    {
        //get procedureName and procedureCode from query string
        var uri = new Uri(NavigationManager.Uri);
        var query = QueryHelpers.ParseQuery(uri.Query);
        var procedureName = query["procedureName"];
        var procedureCode = query["procedureCode"];

        // Simulate asynchronous loading to demonstrate a loading indicator
        var list = await hospitalDataRepository.GetHospitalDataAsync(new SearchProcedureModel()
        {
            ProcedureCode = procedureCode.ToString(),
            ProcedureName = procedureName.ToString()
        } );
        procList = list.ToArray();
    }
}
